<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= appName %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="styles/demo.css">
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and your life.</p>
        <![endif]-->

        <header class="header">
            <section class="header-wrapper">
                <div class="header-content">
                    <h1><%= appName %></h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam expedita asperiores porro repellat hic.</h2>
                </div>
                        
                <div class="header-buttons">
                    <a href="#" class="header-button"><i class="fa fa-download"></i> Download</a>
                    <a href="#" class="header-button" target="_blank"><i class="fa fa-github"></i> Fork on Github</a>
                </div>
            </section>
        </header>

        <main class="main">
            <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dolore sequi officia minima delectus nesciunt tempora libero culpa eum id, nostrum possimus, corporis atque veritatis doloremque numquam omnis facere consequuntur?</p>

            <h2>Building your project</h2>
            <p>
                Build your project easily with <a href="http://gulpjs.com/" target="_blank">Gulp</a>. There are tasks available for building html, scss, javascript and images. Code quality will be checked by <a href="http://jshint.com/" target="_blank">jshint</a>. All you have to do is:<br>
                <code>gulp build</code>
            </p>
            
            <p>
                Work on your project locally and watch your changes using BrowserSync:<br>
                <code>gulp watch</code>
            </p>
            
            <p>
                Deploy your project to <a href="https://pages.github.com/" target="_blank">Github Pages</a>. By using the follow command, your project dist folder will be send to the gh-pages branch. A custom commit message is optional.<br>
                <code>gulp deploy</code><br>
                <code>gulp deploy --message 'This is my first commit'</code>
            </p>
        </main>
    
        <footer class="footer">
            <section class="footer-wrapper">
                <i class="fa fa-github"></i> This page is based on <a href="https://github.com/jeroenoomsNL/github-project-starter" title="Github Project Starter by Jeroen Ooms">Github Project Starter</a> by <a href="http://jeroenooms.nl" title="Website Jeroen Ooms">Jeroen Ooms</a></a>
            </section>
        </footer>
    </body>
</html>
